In [163]:
import pandas as pd
import numpy as np
         
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder,MinMaxScaler

In [164]:
raw_train=pd.read_csv('train.csv')
raw_test=pd.read_csv('test.csv')
raw_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [165]:
raw_train.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [166]:
raw_train.shape

(614, 13)

In [167]:
train_df=raw_train.copy()
test_df=raw_test.copy()

In [168]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [169]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            362 non-null    object
 1   Gender             351 non-null    object
 2   Married            362 non-null    object
 3   Dependents         353 non-null    object
 4   Education          362 non-null    object
 5   Self_Employed      339 non-null    object
 6   ApplicantIncome    362 non-null    int64
 7   CoapplicantIncome  362 non-null    int64
 8   LoanAmount         362 non-null    int64
 9   Loan_Amount_Term   356 non-null    float64
 10  Credit_History     333 non-null    float64
 11  Property_Area      362 non-null    object
dtypes: float64(2), int64(3), object(7)
memory usage: 34.1+ KB

In [170]:
train_y=train_df['Loan_Status'].copy()

In [171]:
train_df.drop(columns=['Loan_Status'],inplace=True)

In [172]:
train_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [173]:
#droping unncesary columns

In [174]:
train_df.drop(['Loan_ID'],axis=1,inplace=True)
test_df.drop(['Loan_ID'],axis=1,inplace=True)

In [175]:
train_df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [176]:
# duplicates
train_df[train_df.duplicated()]

Empty DataFrame
Columns: [Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area]
Index: []

In [177]:
test_df[test_df.duplicated()]

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
192,Male,No,0,Graduate,Yes,5833,0,116,360.0,1.0,Urban

In [178]:
train_df.isna().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
dtype: int64

In [179]:
# numeric-->mean
#categorial-->mode

In [180]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             601 non-null    object
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 52.9+ KB

In [181]:
train_df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [182]:
num_cols=['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term']
cat_cols=['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Credit_History', 'Property_Area']

In [183]:
cat_imputer=SimpleImputer(strategy="most_frequent")
cat_imputer.fit(train_df[cat_cols])

train_df[cat_cols]=cat_imputer.transform(train_df[cat_cols])
test_df[cat_cols]=cat_imputer.transform(test_df[cat_cols])

In [184]:
num_imputer=SimpleImputer(strategy="mean")
num_imputer.fit(train_df[num_cols])

train_df[num_cols]=num_imputer.transform(train_df[num_cols])
test_df[num_cols]=num_imputer.transform(test_df[num_cols])

In [185]:
train_df.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [186]:
train_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583.0,1508.0,128.000000,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1.0,Urban

In [187]:
#preprocessing

train_df['ApplicantIncome']=train_df['ApplicantIncome']+train_df['CoapplicantIncome']
test_df['ApplicantIncome']=test_df['ApplicantIncome']+test_df['CoapplicantIncome']

#drop coapplicant
train_df.drop(['CoapplicantIncome'],axis=1,inplace=True)
test_df.drop(['CoapplicantIncome'],axis=1,inplace=True)

In [188]:
train_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849.0,146.412162,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,6091.0,128.000000,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000.0,66.000000,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,4941.0,120.000000,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000.0,141.000000,360.0,1.0,Urban

In [189]:
train_df['Self_Employed'].mode()[0]

'No'

In [190]:
#application of label encoder
train_df.nunique()

Gender                2
Married               2
Dependents            4
Education             2
Self_Employed         2
ApplicantIncome     554
LoanAmount          204
Loan_Amount_Term     11
Credit_History        2
Property_Area         3
dtype: int64

In [191]:
train_df.Dependents.unique()  # label encoder

array(['0', '1', '2', '3+'], dtype=object)

In [192]:
train_df.Property_Area.unique() # label encoder

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [193]:
for col in cat_cols:
    le=LabelEncoder()
    train_df[col]=le.fit_transform(train_df[col])
    test_df[col]=le.fit_transform(test_df[col])

In [194]:
train_df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849.0,146.412162,360.0,1,2
1,1,1,1,0,0,6091.0,128.000000,360.0,1,0
2,1,1,0,0,1,3000.0,66.000000,360.0,1,2
3,1,1,0,1,0,4941.0,120.000000,360.0,1,2
4,1,0,0,0,0,6000.0,141.000000,360.0,1,2

In [195]:
num_cols=['ApplicantIncome',  'LoanAmount','Loan_Amount_Term']

In [196]:
#log transformation
train_df[num_cols]=np.log(train_df[num_cols])
test_df[num_cols]=np.log(test_df[num_cols])

In [197]:
#scaling
minmax=MinMaxScaler()
train_df=minmax.fit_transform(train_df)
test_df=minmax.transform(test_df)

In [198]:
#building the model
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(train_df,train_y,test_size=0.3,random_state=42)

In [199]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
log.fit(X_train,y_train)

LogisticRegression()

In [200]:
y_pred_test=log.predict(X_test)

In [201]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred_test)
print(f"accuracy is {acc}")

accuracy is 0.7837837837837838

In [202]:
#serailization & deserialization
import joblib
joblib.dump(log,"my_trained_model_v1.pkl")

['my_trained_model_v1.pkl']

In [203]:
#deserialization
final_model=joblib.load("my_trained_model_v1.pkl")

In [204]:
final_model.intercept_

array([-2.14800082])

In [205]:
import sys

In [206]:
sys.path

['e:\\Users\\anshul\\Desktop\\ml_ops\\ml_ops\\ml_packaging\\experiments',
 'c:\\Users\\anshul\\AppData\\Local\\Programs\\Python\\Python38\\python38.zip',
 'c:\\Users\\anshul\\AppData\\Local\\Programs\\Python\\Python38\\DLLs',
 'c:\\Users\\anshul\\AppData\\Local\\Programs\\Python\\Python38\\lib',
 'c:\\Users\\anshul\\AppData\\Local\\Programs\\Python\\Python38',
 '',
 'C:\\Users\\anshul\\AppData\\Roaming\\Python\\Python38\\site-packages',
 'C:\\Users\\anshul\\AppData\\Roaming\\Python\\Python38\\site-packages\\win32',
 'C:\\Users\\anshul\\AppData\\Roaming\\Python\\Python38\\site-packages\\win32\\lib',
 'C:\\Users\\anshul\\AppData\\Roaming\\Python\\Python38\\site-packages\\Pythonwin',
 'c:\\Users\\anshul\\AppData\\Local\\Programs\\Python\\Python38\\lib\\site-packages']

In [207]:
#sys.path.append() #if want to add custom folder path

In [208]:
#create custom data transformers
from sklearn.base import BaseEstimator,TransformerMixin
class DemoTransformer(BaseEstimator,TransformerMixin):
    def __init__(self):
        pass
    def fit(self,X,y=None):
        return self
    def transform(self,X):
        return X

In [209]:
class MeanImputer(BaseEstimator,TransformerMixin):
    def __init__(self,variables=None):
        self.variables=variables
    
    def fit(self,X,y=None):
        self.mean_dict={}
        for col in self.variables:
            self.mean_dict[col]=X[col].mean()
        return self
    
    def transform(self,X):
        X=X.copy()
        for col in self.variables:
            X[col].fillna(self.mean_dict[col],inplace =True)
        return X

In [210]:
np.random.seed(0)
df=pd.DataFrame(np.random.randint(0,100,(10,2)),columns=["A","B"])
df.iloc[1,0]=np.nan
df.iloc[2,1]=np.nan
df.iloc[3,1]=np.nan
df.iloc[4,0]=np.nan
df

      A     B
0  44.0  47.0
1   NaN  67.0
2  67.0   NaN
3  83.0   NaN
4   NaN  87.0
5  70.0  88.0
6  88.0  12.0
7  58.0  65.0
8  39.0  87.0
9  46.0  88.0

In [211]:
variables=["A","B"]
mean_imp=MeanImputer(variables=variables)

In [212]:
mean_imp.fit(df)

MeanImputer(variables=['A', 'B'])

In [213]:
mean_imp.mean_dict

{'A': 61.875, 'B': 67.625}

In [214]:
mean_imp.transform(df)

        A       B
0  44.000  47.000
1  61.875  67.000
2  67.000  67.625
3  83.000  67.625
4  61.875  87.000
5  70.000  88.000
6  88.000  12.000
7  58.000  65.000
8  39.000  87.000
9  46.000  88.000

In [219]:
class DropColumns(BaseEstimator,TransformerMixin):
    def __init__(self,variables_to_drop=None):
        self.variables_to_drop=variables_to_drop

    def fit(self,X,y=None):
        return self
    
    def transform(self,X):
        X=X.copy()
        X=X.drop(columns=variables_to_drop)
        return X